<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{name}}</title>
    <link rel="stylesheet" type="text/css" href="css/screen.css" />
  </head>
  <body>
    <div id="app"></div>
    <script type="text/javascript" src="js/app.js"></script>
    <script>
     {{ns-name}}.core.main();
    </script>

  </body>
</html>
